<div
  class="toast-container bottom-0 start-50 translate-middle-x p-3"
  *ngIf="notification.message"
>
  <div
    data-bs-autohide="true"
    class="position-relative toast show"
    aria-live="polite"
    aria-atomic="true"
    role="alert"
  >
    <div class="toast-header">
      <div class="d-flex align-items-center w-100 justify-content-between">
        <div class="toast-body">
          {{ notification.message }}
        </div>
        <button
          (click)="clearNotification()"
          type="button"
          class="btn-close"
          data-bs-dismiss="toast"
          aria-label="Close"
        ></button>
      </div>
    </div>
  </div>
</div>
