.show {
  position: relative;
  display: block;
  z-index: 1111 !important;
}

.toast-header {
  border: none !important;
  border-radius: 3px !important;
}

.toast-header .btn-close {
  margin-right: 0;
}

.toast {
  max-width: fit-content;
  margin: auto;
  --bs-toast-border-width: 0 !important;
  --bs-toast-bg: white !important;

  position: relative;
  z-index: 1;
  background: transparent;
  backdrop-filter: blur(10px);
}
