.btn-table {
  padding: 5% !important;
  color: black !important;
  background-color: white !important;
  border: 2px black solid !important;
}

#card-element:focus {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
