<section>
  <div class="center-container">
    <form [formGroup]="signinForm" class="mb-3">
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
        />
      </div>
      <button
        type="submit"
        class="btn btn-primary w-100"
        (click)="handleSignin()"
      >
        Sign in
      </button>
    </form>
  </div>
</section>
