<section>
  <div class="text-center main-content">
    <!-- <img class="hero-image" src="../../../assets/hero.webp" alt="Sleek, Modern Products" /> -->
    <h1>Ecom</h1>
    <p class="big-text">Exclusive. Expensive.</p>
    <p class="">
      With prices as premium as the products, each purchase not only elevates
      your style but also your bragging rights. Why pay less when you can pay
      more and make a statement? So, what are you waiting for, give us your
      money!
    </p>
  </div>
</section>
